/* External fonts */
@font-face {
    font-family: "Pixelta";
    src: url("fonts/Pixelta.ttf") format("truetype");
}

@font-face {
    font-family: "Raster-Forge";
    src: url("fonts/RasterForgeRegular-JpBgm.ttf") format("truetype");
}

@font-face {
    font-family: "determination";
    src: url("fonts/determination.ttf") format("truetype");
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #000;
    font-family: "Raster-Forge", sans-serif;
    color: white;
}

/* Navigation bar styles */
header {
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: #020a31;
    width: 65%;
    max-width: 1100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    font-size: 1rem;
    border: 2px solid #2d58fa;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 2px 2px 0 #2d58fc;
}

#navbar p,
#navbar a {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5em 1em;
}

#navbar p {
    height: 100%;
    font-family: "determination", sans-serif;
    font-size: 2em;
    color: #ffe17d;
}

#navbar a {
    text-decoration: none;
}

#navbar a.nav-link {
    font-size: 1em;
    border: 1.5px solid #587afb;
    border-radius: 4px;
    transition: transform 0.2s linear;
    box-shadow: 2px 2px 0 #3553be;
}

#navbar a.nav-link:hover {
    background-color: #587afb;
    color: #ffe17d;
    transform: translateY(-5px);
}

#navbar a.nav-link:active {
    transform: translateY(1px);
}

#navbar p::before {
    content: ">\00A0";
}

/* Main content styles */
main {
    width: 100%;
    margin: 60px auto 0;
    border: 1px solid red;
}

/* Hero styles */
#hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35vh;
    font-size: 1rem;
}

#hero-container h1 {
    font-family: "Pixelta", sans-serif;
    letter-spacing: 6px;
    font-size: 6.4em;
    text-align: center;
    color: hsl(207, 100%, 64%)
}

#hero-container p {
    font-size: 1.2em;
    text-align: center;
}

/* About section styles */
#about {
    display: flex;
    flex-direction: column;
    border: 2px solid #63ffdd;
    border-radius: 4px;
    box-shadow: 4px 4px 0 #01ac87;
    width: 60%;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1rem;
}

#about h2 {
    font-family: "determination", sans-serif;
    font-size: 3.4em;
    text-align: center;
    border-bottom: 2px solid #63ffdd;
    padding: 10px 20px;
    color: #63ffdd;
}

#about-content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    padding: 20px 0;
}

#about-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

#about-content .image-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#about-content .image-label p {
    background-color: #ffc43b;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#about-content .image-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#about-content .image-content img {
    display: block;
    margin: 10px auto;
}

#about-content .image-content figcaption {
    width: 100%;
    text-align: center;
    color: #63ffdd;
}

#about-content .desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

#about-content .desc-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#about-content .desc-label p {
    background-color: #ffc43b;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#about-content .desc-content p {
    text-align: justify;
    color: #63ffdd;
}

/* Skills section styles */
