/* Media queries */
@media screen and (max-width: 1200px) {
  #navbar,
  #hero,
  .content-section,
  #contact {
    font-size: 0.85rem !important;
  }

  #navbar {
    gap: 0.85rem !important;
    min-width: 800px !important;
  }

  #about img {
    width: 170px !important;
    height: 170px !important;
  }

  #projects img {
    width: 127.5px !important;
    height: 127.5px !important;
  }

  #contact img {
    width: 54.4px !important;
    height: 54.4px !important;
  }

  .content-section {
    min-width: 800px !important;
  }

  .grid-project-row {
    grid-template-rows: 127.5px !important;
    grid-auto-rows: 127.5px !important;
  }

  .project-details.project-link {
    height: 42.5px !important;
  }

  .project-details .project-desc {
    height: 85px !important;
  }

  .gap {
    gap: 17px !important;
  }

  .gap-row {
    row-gap: 17px !important;
  }
}

@media screen and (max-width: 992px) {
  #navbar,
  #hero,
  .content-section,
  #contact {
    font-size: 0.8rem !important;
  }

  #navbar {
    gap: 0.8rem !important;
    min-width: 700px !important;
  }

  #about img {
    width: 160px !important;
    height: 160px !important;
  }

  #projects img {
    width: 120px !important;
    height: 120px !important;
  }

  #contact img {
    width: 51.2px !important;
    height: 51.2px !important;
  }

  .content-section {
    min-width: 700px !important;
  }

  .grid-project-row {
    grid-template-rows: 120px !important;
    grid-auto-rows: 120px !important;
  }

  .project-details.project-link {
    height: 40px !important;
  }

  .project-details .project-desc {
    height: 80px !important;
  }

  .gap {
    gap: 16px !important;
  }

  .gap-row {
    row-gap: 16px !important;
  }
}

@media screen and (max-width: 768px) {
  #navbar,
  #hero,
  .content-section,
  #contact {
    font-size: 0.75rem !important;
  }

  #navbar {
    gap: 0.75rem !important;
    min-width: 650px !important;
  }

  #about img {
    width: 150px !important;
    height: 150px !important;
  }

  #projects img {
    width: 112.5px !important;
    height: 112.5px !important;
  }

  #contact img {
    width: 48px !important;
    height: 48px !important;
  }

  .content-section {
    min-width: 650px !important;
  }

  .grid-project-row {
    grid-template-rows: 112.5px !important;
    grid-auto-rows: 112.5px !important;
  }

  .project-details.project-link {
    height: 37.5px !important;
  }

  .project-details .project-desc {
    height: 75px !important;
  }

  .gap {
    gap: 15px !important;
  }

  .gap-row {
    row-gap: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  #navbar,
  #hero,
  .content-section,
  #contact {
    font-size: 0.6rem !important;
  }

  #navbar {
    gap: 0.6rem !important;
    min-width: 520px !important;
  }

  #about img {
    width: 120px !important;
    height: 120px !important;
  }

  #projects img {
    width: 90px !important;
    height: 90px !important;
  }

  #contact img {
    width: 38.4px !important;
    height: 38.4px !important;
  }

  .content-section {
    min-width: 520px !important;
  }

  .grid-project-row {
    grid-template-rows: 90px !important;
    grid-auto-rows: 90px !important;
  }

  .project-details.project-link {
    height: 30px !important;
  }

  .project-details .project-desc {
    height: 60px !important;
  }

  .gap {
    gap: 12px !important;
  }

  .gap-row {
    row-gap: 12px !important;
  }
}

/* External fonts */
@font-face {
  font-family: "Pixelta";
  src: url("fonts/Pixelta.ttf") format("truetype");
}

@font-face {
  font-family: "Raster-Forge";
  src: url("fonts/RasterForgeRegular-JpBgm.ttf") format("truetype");
}

@font-face {
  font-family: "determination";
  src: url("fonts/determination.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  font-family: "Raster-Forge", sans-serif;
  color: #f2f2f2;
}

/* General styles */
.content-section {
  display: flex;
  flex-direction: column;
  border: 8px solid #f2f2f2;
  background-color: #080808;
  width: 60%;
  max-width: 1100px;
  min-height: 400px;
  margin: 80px auto 0;
  padding: 10px 20px;
  font-size: 1rem;
  scroll-margin-top: 80px;
}

.section-heading {
  font-family: "determination", sans-serif;
  font-size: 3.4em;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  padding: 10px 20px;
}

.content-label {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
}

.content-label > p {
  background-color: #f2f2f2;
  color: #080808;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.grid-section {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

.content-column {
  display: flex;
  flex-direction: column;
}

.content-row {
  display: flex;
  flex-direction: row;
}

.pad-r {
  padding-right: 20px;
}

.pad-l {
  padding-left: 20px;
}

.pad-v {
  padding: 20px 0;
}

.justify-text {
  text-align: justify;
}

.center-text {
  text-align: center;
}

.grid-col-2-5 {
  grid-template-columns: 2fr 5fr;
}

.grid-col-5-3 {
  grid-template-columns: 5fr 3fr;
}

.grid-col-2x1 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3x1 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4x1 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-project-row {
  grid-template-rows: 150px;
  grid-auto-rows: 150px;
}

.gap {
  gap: 20px;
}

.gap-row {
  row-gap: 20px;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

header {
  display: flex;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* Navbar styles */
#navbar {
  background-color: #080808;
  width: 65%;
  max-width: 1100px;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  font-size: 1rem;
  border: 2px solid #f2f2f2;
}

#site-brand,
.nav-link {
  display: flex;
  align-items: center;
  color: white;
  padding: 0.4em 0.8em;
}

#site-brand {
  height: 100%;
  font-family: "determination", sans-serif;
  font-size: 1.8em;
}

.nav-link {
  font-size: 1em;
  border: 2px solid #f2f2f2;
  transition: transform 0.2s linear;
}

.nav-link:hover {
  background-color: #f2f2f2;
  color: #080808;
  transform: translateY(-5px);
}

.nav-link:active {
  transform: translateY(1px);
}

main {
  width: 100%;
  margin: 60px auto 0;
}

/* Hero styles */
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30vh;
  font-size: 1rem;
}

#hero-title {
  font-family: "Pixelta", sans-serif;
  letter-spacing: 6px;
  font-size: 8.2em;
  color: #ff2449;
}

#hero-tag {
  font-size: 1.2em;
  color: #f2f2f2;
}

/* About styles */
#about img {
  width: 200px;
  height: 200px;
}

/* Project styles */
.project-item {
  background-color: hsl(0, 0%, 10%);
}

#projects img {
  width: 150px;
  height: 150px;
}

.project-details.project-link {
  width: 100%;
  height: 50px;
}

.project-title {
  font-family: "determination", sans-serif;
  font-size: 1.6em;
  margin-bottom: 20px;
  height: 100%;
}

.project-title:hover {
  text-decoration: underline;
}

.project-title:active {
  color: #a0a0a0;
}

.project-details .project-link:visited {
  color: #a0a0a0;
}

.project-details .project-desc {
  height: 100px;
}

/* Experience styles */
#experience summary {
  font-size: 1.4em;
  cursor: pointer;
}

/* Contact styles */
.contact-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 40px;
}

#contact {
  height: 500px;
  scroll-margin-top: 80px;
  margin-top: 80px;
  font-size: 1rem;
}

#contact h2 {
  font-family: "determination", sans-serif;
  font-size: 4.8em;
}

#contact-items {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#contact figure {
  width: 150px;
  height: 100px;
  margin-top: 40px;
}

#contact img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  transition: transform 0.2s linear;
  image-rendering: pixelated;
}

#contact img:hover {
  transform: scale(1.12);
}

#contact figcaption {
  margin-top: 10px;
}
