/* External fonts */
@font-face {
    font-family: "Pixelta";
    src: url("fonts/Pixelta.ttf") format("truetype");
}

@font-face {
    font-family: "Raster-Forge";
    src: url("fonts/RasterForgeRegular-JpBgm.ttf") format("truetype");
}

@font-face {
    font-family: "determination";
    src: url("fonts/determination.ttf") format("truetype");
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #000;
    font-family: "Raster-Forge", sans-serif;
    color: white;
}

/* Navigation bar styles */
header {
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: #020a31;
    width: 65%;
    max-width: 1100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    font-size: 1rem;
    border: 2px solid #2d58fa;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 2px 2px 0 #2d58fc;
}

#navbar p,
#navbar a {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5em 1em;
}

#navbar p {
    height: 100%;
    font-family: "determination", sans-serif;
    font-size: 2em;
    color: #ffe17d;
    text-shadow: 2px 2px 0 #e6a100;
}

#navbar a {
    text-decoration: none;
}

#navbar a.nav-link {
    font-size: 1em;
    border: 1.5px solid #587afb;
    border-radius: 4px;
    transition: transform 0.2s linear;
    box-shadow: 2px 2px 0 #3553be;
}

#navbar a.nav-link:hover {
    background-color: #587afb;
    color: #ffe17d;
    transform: translateY(-5px);
}

#navbar a.nav-link:active {
    transform: translateY(1px);
}

#navbar p::before {
    content: ">\00A0";
}

main {
    width: 100%;
    margin: 60px auto 0;
}

/* Hero styles */
#hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35vh;
    font-size: 1rem;
}

#hero-container h1 {
    font-family: "Pixelta", sans-serif;
    letter-spacing: 6px;
    font-size: 6.4em;
    text-align: center;
    color: #38a5ff;
    text-shadow: 2px 2px 0px #006bc2;
}

#hero-container p {
    font-size: 1.2em;
    text-align: center;
}

/* Section general styles */
#about,
#skills,
#projects,
#experience {
    display: flex;
    flex-direction: column;
    border: 2px solid #63ffdd;
    border-radius: 4px;
    box-shadow: 4px 4px 0 #01ac87;
    width: 60%;
    min-height: 400px;
    margin: 80px auto 0;
    padding: 10px 20px;
    font-size: 1rem;
    scroll-margin-top: 80px;
}

/* Section heading styles */
#about h2,
#skills h2,
#projects h2,
#experience h2 {
    font-family: "determination", sans-serif;
    font-size: 3.4em;
    text-align: center;
    border-bottom: 2px solid #63ffdd;
    padding: 10px 20px;
    color: #63ffdd;
}

/*Section content label styles*/
#about-content .image-label p,
#about-content .desc-label p,
#skills-content .learned-label p,
#skills-content .learning-label p,
#projects-content .projects-label p,
#experience-content .experience-label p {
    background-color: #ffc43b;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}

/* About section styles */
#about-content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    padding: 20px 0;
}

#about-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

#about-content .image-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#about-content .image-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#about-content .image-content img {
    display: block;
    margin: 10px auto;
    color: #63ffdd;
}

#about-content .image-content figcaption {
    width: 100%;
    text-align: center;
    color: #63ffdd;
}

#about-content .desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

#about-content .desc-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#about-content .desc-content p {
    text-align: justify;
    color: #63ffdd;
}

/* Skills section styles */
#skills-content {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    padding: 20px 0;
}

#skills-content .learned-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

#skills-content .learned-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#skills-content .learned-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 20px;
    justify-content: start;
}

#skills-content .learned-content p {
    width: 100%;
    color: #63ffdd;
}

#skills-content .learning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

#skills-content .learning-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#skills-content .learning-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 20px;
    justify-content: start;
}

#skills-content .learning-content p {
    width: 100%;
    color: #63ffdd;
}

/* Project section styles */
#projects-content {
    padding: 20px 0;
}

#projects-content .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-content .projects-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#projects-content .projects-projects {
    width: 100%;
    display: grid;
    grid-template-rows: 150px;
    grid-auto-flow: row;
    grid-auto-rows: 150px;
    row-gap: 40px;
}

#projects-content .project-indiv > div {
    width: 100%;
    display: flex;
}

#projects-content .project-indiv a {
    text-decoration: none;
}

#projects-content .project-indiv img {
    display: block;
    width: 150px;
    height: 150px;
    color: #63ffdd;
    object-fit: cover;
    background-color: hsl(0, 0%, 6%);
}

#projects-content .project-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(0, 0%, 8%);
}

#projects-content .project-info-container a {
    width: 100%;
    height: 50px;
}

#projects-content .project-info-container h3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    color: #63ffdd;
    padding-left: 10px
}

#projects-content .project-info-container p {
    display: block;
    height: 100px;
    color: #63ffdd;
    padding: 10px 0 0 10px;
}

/* Experience section styles */
#experience-content {
    padding: 20px 0;
}

#experience-content .experience-label {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #63ffdd;
}

#experience-content .experience-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #63ffdd;
}

#experience-content .experience-list summary {
    font-size: 1.4em;
    cursor: pointer;
}

#experience-content .experience-list p {
    text-align: justify;
}

/* Contact section styles */
#contact {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
    scroll-margin-top: 80px;
    margin-top: 80px auto 0;
    font-size: 1rem;
}

#contact h2 {
    font-family: "determination", sans-serif;
    font-size: 4.8em;
    text-align: center;
    margin-top: 80px;
    color: #63ffdd;
}

#contact-content {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 150px;
    gap: 20px;
    justify-items: center;
}

#contact-content figure {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 40px;
}

#contact-content a {
    text-decoration: none;
    color: #63ffdd;
}

#contact-content img {
    display: block;
    margin: 0 auto;
    transition: transform 0.2s linear;
    image-rendering: pixelated;
}

#contact-content img:hover {
    transform: scale(1.1);
}

#contact-content figcaption {
    color: #63ffdd;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}